<!DOCTYPE html>
<html lang="en">

<head>
    <title>StudioPop</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="">

    <!-- Start WOWSlider.com HEAD section -->
    <!-- <link rel="stylesheet" type="text/css" href="../assets/plugins/engine1/style.css" /> -->
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <!--Sass -->
    <!-- <link rel="stylesheet" href="../assets/sass/main.css"> -->

    <!--<link rel="" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.1.1/css/bootstrap-rtl.css">-->

    <style>
        .container-fluid {
            width: 100%;
            padding: 0px;
            margin: 0px;
        }

        .email-top-bg {
            background-color: #e8dbdb;
            padding: 10px;
            margin: -5px;
        }

        .email-top-bar {
            text-align: center;
            margin: 55px 0px 150px 0px;
        }

        .email-main-div {
            background: #FF9933;
            border-radius: 30px;
            padding: 30px 70px;
            margin: auto;
            width: 60%;
        }

        .email-head {
            text-align: center;
            color: #ffffff;
            font-family: "Karla", sans-serif;
            padding: 40px 0px 30px 0px;
            font-weight: 600;
            font-size: 40px;
            line-height: 60px;
            letter-spacing: 2px;
            text-transform: none;
        }

        .email-sub-head {
            color: #ffffff;
            font-family: "Karla", sans-serif;
            font-weight: 600;
            font-size: 28px;
            line-height: 40px;
            padding: 20px 0px;
            letter-spacing: 0px;
        }

        .email-content {
            color: #ffffff;
            font-family: "Karla", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            padding: 0px;
            letter-spacing: 0.5px;
        }

        .email-button {
            outline: none !important;
            border: none;
            background: #e8dbdb;
            padding: 15px;
            cursor: pointer;
            color: #333333;
            text-align: center;
            font-weight: 700;
            border-radius: 5px;
            margin: 40px 10px 40px 0px;
            letter-spacing: 1.5px;
        }

        .email-bottom {
            color: #ffffff;
            font-family: "Karla", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 25px;
            padding: 0;
            letter-spacing: 0.7px;
        }

        .email-button a {
            color: #333333;
            text-decoration: none;
        }
    </style>
</head>

<body>


    <!-- header start -->
    <div class="container-fluid">
        <div class="row email-top-bg">
            <div class="col-md-12 email-top-bar">
                <!-- <a href="#"><img style="width: 300px;" src="http://206.189.180.232:3000/images/logo/Logo.png"
                        alt=""></a> -->
            </div>
        </div>
    </div>
    <!-- header end -->

    <!-- main section start -->
    <div class="container-fluid email-design" style="margin-top: -7%;">
        <div class="row">
            <div class="email-main-div">
                <h2 class="email-head">Change Your StudioPop Password</h2>
                <h3 class="email-sub-head">Hi <%= firstname %>,</h3>
                <p class="email-content">Need to reset your password? No problem. Just click below to get started.</p>
                <div style="text-align: center;">
                    <button class="email-button">
                        <a href="<%=Link %>">Reset My Passowrd</a>
                    </button>
                </div>
                <p class=" email-content">If you did't request to change your StudioPop password simply,
                    <br> delete this email. You don't have to anything. So that's easy.
                </p>
                <p class="email-bottom">The StudioPop Team</p>
            </div>
        </div>
    </div>
    <!-- main section end -->


    <!-- footer content start -->
    <div class="container-fluid" style="margin-top: 30px;">
        <div class="row email-top-bg">
            <div style="padding: 15px;" class="col-md-12">
                <!-- <a href="#"><img src="http://206.189.180.232:3000/images/logo/Logo.png" alt=""></a> -->
            </div>
        </div>
    </div>
    <!-- footer content end -->


</body>

</html>